/* Logo */
.logo-img.animate [data-logo="letter"] {
	animation: cartoon 0.75s forwards var(--ease);
	transform-origin: center center;
	transform-box: fill-box;
	animation-delay: calc(var(--order) * 0.05s);
	transition: opacity var(--anim);
	opacity: 0;
}

@keyframes cartoon {
	0% {
		opacity: 1;
		transform: scale(0);
	}
	33% {
		transform: scale(1.2);
	}
	45% {
		transform: scale(0.85);
	}
	66% {
		transform: scale(1.04);
	}
	75% {
		transform: scale(0.98);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Title */
.hero-title.animate {
	animation: jump 0.5s forwards var(--ease);
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(4px);
	}
	75% {
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Hero img */
.hero-img {
	opacity: 0;
}
body.loaded .hero-img {
	transition: opacity 1.5s var(--ease);
}
.hero-img .hero-guy {
	opacity: 0;
}

.hero-img .hero-guy:nth-child(2) {
	--guyDelay: 2s;
	transform: translate(3px, 15px);
}
.hero-img .hero-guy:nth-child(3) {
	--guyDelay: 0.6s;
	transform: translate(-5px, 25px);
}
.hero-img .hero-guy:nth-child(4) {
	--guyDelay: 1.3s;
	transform: translate(20px, 6px);
}

.start-screen.hidden ~ .container .hero-img {
	opacity: 1;
	transition-delay: 0.5s;
}
.start-screen.hidden ~ .container .hero-img .hero-guy {
	opacity: 1;
	transform: translate(0);
	transition: opacity 1.5s var(--ease) var(--guyDelay),
		transform 1.5s var(--ease) var(--guyDelay);
}

/* Hero text */
@media (min-width: 850px) {
	.hero-text-ctn {
		transform-style: preserve-3d;
		perspective: 1000px;
	}
	.hero-text-box {
		transition: transform 0.5s var(--ease);
	}
	.hero-text-ctn:hover .hero-text-box {
		transform: rotateX(180deg);
	}
}

/* Cursor */
.custom-cursor {
	display: none;
	--cursorX: -99px;
	--cursorY: -99px;

	position: fixed;
	top: -1rem;
	left: -1rem;
	will-change: transform;
	transform: translate(var(--cursorX), var(--cursorY)) rotate(0deg);
	width: 2rem;
	z-index: 9999;
	user-select: none;
	pointer-events: none;
}
.custom-cursor.animate {
	animation: spin 0.5s forwards var(--ease);
}

@keyframes spin {
	to {
		transform: translate(var(--cursorX), var(--cursorY)) rotate(360deg);
	}
}
